.route-container#hsss-main-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}

.route-container#hsss-main-wrapper #buttons-container {
    padding-top: 8px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}