.route-container#hsss-main-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}

.route-container#hsss-main-wrapper #buttons-container {
    padding-top: 8px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#story-container.route-container .story-row {
    flex-direction: row;
    font-size: 16px;
    justify-content: flex-start;
    text-align: left;
    flex-wrap: wrap;
} 

.story-row span {
    padding: 0 4px;
    color: deepskyblue;
    font-weight: bold;
    display: flex;
    flex-direction: row;
}

.story-row span.no-left {
    padding-left: 0px;
}

.story-row span.no-right {
    padding-right: 0px;
}

.route-container#story-container h3 {
    margin-bottom: 0;
}

.route-container#story-container #story-header {
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid white;
    justify-content: space-between;
    margin-bottom: 8px;
}