.route-container#answer-is-responses {
    justify-content: center;
    align-items: flex-start;
}

#answer-is-responses .answer-from-other {
    background-color: #333;
    padding: 8px;
    border-radius: 2px;
    width: 100%;
    text-align: center;
    align-items: center;
}