.route-container#answer-is-responses {
    justify-content: center;
    align-items: flex-start;
}

#answer-is-responses .answer-from-other {
    background-color: #333;
    padding: 8px;
    border-radius: 2px;
    width: 100%;
    text-align: center;
    align-items: center;
    margin-top: 8px;
    box-sizing: border-box;
}

#answer-is-responses {
    .waiting-div {
        width: 100%;
        align-items: center;
        & h1 {
            width: 100%;
            text-align: center;
            padding-top: 16px;
        }
    }

    .waiting-on-pick {
        width: 100%;
        height: 100%;


        .you-answered {

            flex-direction: row;
            font-size: 16px;
            padding-bottom: 72px;

            b {
                position: relative;
                left: 4px;
                color: var(--primary);
            }
        }
    }

    #leader-board {
        height: 100%;
        width: 100%;
        justify-content: space-between;
    }

    #results-header {
        h1, h3 {
            margin-bottom: 0;
        }

        border-bottom: 1px solid white;
        width: 100%;
        flex-direction: row; 
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 8px;
    }
}